{% extends 'base.html' %}

{% block title %} Editar: @{{ user.username }} {% endblock title %}

{% block content %}

<article class="white-box form-box edit-profile-box">
    <header class="form-box-title criador">
        <h1>Editar perfil</h1>
    </header>

    <form method="POST">
        {% csrf_token %}
        <div class="form-box-field">
            {{ form.picture.label }}
            {{ form.picture }}
        </div>
        <div class="form-box-field">
            {{ form.description.label }}
            {{ form.description }}
        </div>
        <div class="form-box-buttons">
            <a href="{% url 'accounts:profile_detail' user.id %}">
                <button class="gradient-button secondary button" type="button">Voltar</button>
            </a>
            <button class="gradient-button primary-button" type="submit">Salvar</button>
        </div>
    </form>
</article>

{% endblock content %}
