{% extends 'base.html' %}

{% block title %} Registrar {% endblock title %}

{% block content %}

<article class="form-page">
    <header class="form-header">
        <img class="form-logo" src="https://i.ibb.co/QbRBhdq/logo.png" alt="logo" />
        <p class="form-text">
            Colabore, gerencie projetos e alcance novos picos de produtividade.
            Seu jeito de trabalhar é único e a Opus tem todos!
        </p>
    </header>

    <section class="form-window">
        <aside class="form-left">
            <img src="https://i.ibb.co/RGnX23b/signup.png" class="form-img" alt="register" />
            <h1 class="form-title">SIGN UP</h1>
        </aside>
        <form class="form-sign" method="POST">
            {% csrf_token %}
            <div class="form-field">
                <img src="https://i.ibb.co/bzkWbVL/user-round.png" class="form-icon" alt="user-icon" />
                {{ form.username }}
            </div>
            <div class="form-field">
                <img src="https://i.ibb.co/ypMqJMp/email-icon.png" class="form-icon" alt="email-icon" />
                {{ form.email }}
            </div>
            <div class="form-field">
                <img src="https://i.ibb.co/42LWDS3/key-round.png" class="form-icon" alt="password1-icon" />
                {{ form.password1 }}
            </div>
            <div class="form-field">
                <img src="https://i.ibb.co/7QStCgC/check-round.png" class="form-icon" alt="password2-icon" />
                {{ form.password2 }}
            </div>
            <div class="form-buttons">
                <a href="{% url 'login' %}"><button type="button" class="gradient-button secondary-button">Entrar</button></a>
                <button type="submit" class="gradient-button primary-button">Registrar</button>
            </div>
        </form>
    </section>
</article>

{% endblock content %}
