{% extends 'base.html' %}

{% block title %} Entrar {% endblock title %}

{% block content %}

<article class="form-page">
    <header class="form-header">
        <img class="form-logo" src="https://i.ibb.co/QbRBhdq/logo.png" alt="logo" />
        <p class="form-text">
            Colabore, gerencie projetos e alcance novos picos de produtividade.
            Seu jeito de trabalhar é único e a Opus tem todos!
        </p>
    </header>

    <section class="form-window">
        <aside class="form-left">
            <img src="https://i.ibb.co/RhT6zs4/signin.png" class="form-img" alt="login" />
            <h1 class="form-title">SIGN IN</h1>
        </aside>
        <form class="form-sign" method="POST">
            {% csrf_token %}
            <div class="form-field">
                <img src="https://i.ibb.co/bzkWbVL/user-round.png" class="form-icon" alt="user-icon" />
                {{ form.username }}
            </div>
            <div class="form-field">
                <img src="https://i.ibb.co/42LWDS3/key-round.png" class="form-icon" alt="password1-icon" />
                {{ form.password }}
            </div>
            <div class="form-buttons">
                <a href="{% url 'accounts:index' %}"><button type="button" class="gradient-button secondary-button">Registrar</button></a>
                <button type="submit" class="gradient-button primary-button">Entrar</button>
                <input type="hidden" name="next" value="{{ next }}">
            </div>
        </form>
        <a href="{% url 'accounts:password_reset' %}">Esqueceu sua senha?</a>
    </section>
</article>

{% endblock content %}
