{% extends 'base.html' %}

{% block title %} profile_user.name {% endblock title %}

{% block content %}


<header class="profile-header">
    <img src="" alt="profile-pic">
    <section class="profile-text">
        <h1>Usuário</h1>
        <p>Descrição</p>
    </section>
</header>

<article class="profile-menus">

    <section class="lists-menu">
        <div class="lists-menu-title gradient-blue1">
            <h2>Listas</h2>
        </div>
        <div class="lists-menu-cards">
            <a href="{% url 'appsite:list_create' %}"><button class="blue-button">Criar lista</button></a>
            {% for list in lists_confirmed %}

            {% include 'components/list_card.html' with
                card_id=list.id
                card_pic=list.picture
                card_symbol=list.symbol
                card_name=list.name %}

            {% endfor %}
        </div>
    </section>

    <section class="lists-menu">
        <div class="lists-menu-title gradient-pink"><h2>Convites</h2></div>
        <div class="lists-menu-cards">
            ...
        </div>
    </section>
</article>



<form method="POST" action="{% url 'appsite:invite_update' profile_user.id %}">
    {%csrf_token%}
    <p>{{ list.name }}</p>
    <input type="submit" name="accept">Aceitar</input>
    <input type="submit" name="refuse">Recusar</input>
    <input type="hidden" name="{{ list.id }}" />
</form>

{% if current_user.id == profile_user.id %}
    

    {{ current_user.username }}
    <a href="{% url 'logout' %}">Log out</a>

    <!-- crap implementation O(n^2) of list of lists and list of invites in the user's profile -->
    <section class="lista-de-listas">
        {% for list in current_user.list_set.all %}
            {% for job in current_user.job_set.all %}
                {% if job.list_id == list.id and not job.active_invite %} <a href="{% url 'appsite:list_detail' list.id %}"> {{ list.name }}  </a> {% endif %}
            {% endfor %}
        {% endfor %}
    </section>
    <!--job.active_invite = 1 means that the user is invited to follow that list (shown in invitations)-->
    <!--job.active_invite = 0 means that the user is already member of that list (not shown in invitations, but in lists)-->
    <section class="lista-de-invites">



    </section>
{% else %}

    <p>perfil de {{ profile_user }}</p>

{% endif %}

{% endblock content %}
