{% extends 'base.html' %}
{% load static %}

{% block title %} {{ profile_user.username }} {% endblock title %}

{% block content %}

<header class="profile-header">
    <div class="round">
        <img src="{{ profile_user.profile.picture }}" alt="profile-pic" />
    </div>
    <section class="profile-text">
        <div class="profile-header-upper">
            <h1 class="color-light-gray">@</h1><h1>{{ profile_user.username }}</h1>
            {% if current_user.id == profile_user.id %}
                <a href="{% url 'logout' %}">
                    <button class="blue-button logout-button">Sair</button>
                </a>
            {% else %}
            <a href="{% url 'appsite:detail' current_user.id %}">
                <button class="blue-button logout-button">Voltar</button>
            </a>
            {% endif %}
        </div>
        <p>{{ profile_user.profile.description }}</p>
    </section>
    {% if current_user.id == profile_user.id %}
        <button class="profile-config-button">
            <img src="{% static 'images/icons/cog.svg' %}" alt="profile-config-icon" />
        </button>
    {% endif %}
</header>


<article class="profile-menus">

    <section class="lists-menu">
        <div class="lists-menu-title gradient-blue1">
            <h1>Listas</h1>
        </div>
        <div class="lists-menu-buttons-container">
            {% if current_user.id == profile_user.id %}
                <a href="{% url 'appsite:list_create' %}">
                    <button class="blue-button create lists-menu-button">Criar lista</button>
                </a>
            {% endif %}
        </div>
        {% if lists_confirmed %}
            <div class="lists-menu-cards">            
                {% for list in lists_confirmed %}

                {% include 'components/list_card.html' with
                    card_id=list.id
                    card_pic=list.picture
                    card_symbol=list.symbol
                    card_name=list.name %}

                {% endfor %}
            </div>
        {% else %}
            <div class="lists-menu-empty gradient-blue1">
                <p>Ainda não existem listas criadas ou seguidas.</p>
            </div>
        {% endif %}        
    </section>

    <section class="lists-menu">
        <div class="lists-menu-title gradient-pink">
            <h1>Convites</h1>
        </div>
        <div class="lists-menu-buttons-container">
            {% if current_user.id == profile_user.id %}
                <a href="{% url 'appsite:list_create' %}">
                    <button class="accept lists-menu-button">Aceitar tudo</button>
                    <button class="refuse lists-menu-button">Recusar tudo</button>
                </a>
            {% endif %}
        </div>
        {% if lists_pending %}
            <div class="lists-menu-cards">            
                {% for list in lists_pending %}

                {% include 'components/list_card_invite.html' with
                    card_id=list.id
                    card_pic=list.picture
                    card_symbol=list.symbol
                    card_name=list.name
                    prof_user_id=profile_user.id
                    curr_user_id=current_user.id %}

                {% endfor %}
            </div>
        {% else %}
            <div class="lists-menu-empty gradient-pink">
                <p>Sem novos convites por hoje!</p>
            </div>
        {% endif %}
        
    </section>

</article>

{% endblock content %}
