{% extends 'base.html' %}

{% block title %} Social {% endblock title %}

{% block content %}
<div class="two-forms-wrapper">
    <article class="white-box form-box">
        <header class="form-box-title criador">
            <h1>Convidar</h1>
        </header>
        <form method="POST" action="{% url 'appsite:job_update' list.id %}">
            {% csrf_token %}
            <div class="form-field">
                <label id="invite" for="invite">@</label>
                <input type="text" name="invite" placeholder="Usuário"/>
            </div>
            <div class="form-box-buttons">
                <a href="{% url 'appsite:list_detail' list.id %}">
                    <button class="gradient-button secondary-button" type="button">Voltar</button>
                </a>
                <button class="gradient-button primary-button" type="submit">Convidar</button>
            </div>
        </form>

        <section class="gradient-blue1 form-box-messages">
            {% if messages %}
                {% for message in messages %}
                <p>{{ message }}</p>
                {% endfor %}
            {% endif %}
        </section>
    </article>

    <article class="white-box form-box">
        <header class="form-box-title administrador">
            <h1>Gerenciar</h1>
        </header>
            <form method="POST" action="{% url 'appsite:job_update' list.id %}">
                {% csrf_token %}
                <label for="user">Usuário</label>
                {{ form.user }}
                <label for="type">Cargo</label>
                {{ form.type }}
                <input type="hidden" name="job" />
                <div class="form-box-buttons">
                    <a href="{% url 'appsite:list_detail' list.id %}">
                        <button class="gradient-button secondary-button" type="button">Voltar</button>
                    </a>
                    <button class="gradient-button primary-button" type="submit">Salvar</button>
                </div>
            </form>
    </article>
</div>

{% endblock content %}
