{% extends 'base.html' %}

{% block title %} {{ list.name }} {% endblock title %}

{% block content %}

<h2>Nome: {{ list.name }}</h2>
<h2>Símbolo: {{ list.symbol }}</h2>
<h3>Descrição: {{ list.description }}</h3>
<h4>Criador: {{ creator.first.username }}</h4>

<ul>
{% for f in guest %}
    <li>{{ f.username }}</li>
    <li>{{ f.email }}</li>
    <li>{{ f.picture }}</li>
    <br>
{% endfor %}
</ul>

{% if current_user in creator or current_user in admin  %}
    <a href="{% url 'appsite:tag_create' list.id %}"><button>Criar tag</button></a>
    <a href="{% url 'appsite:task_create' list.id %}"><button>Criar task</button></a>
    <a href="{% url 'appsite:list_update' list.id %}"><button>Editar lista</button></a>
    <a href="{% url 'appsite:invite' list.id %}"><button>Convidar</button></a>
    <a href="{% url 'appsite:job_update' list.id %}"><button>Cargos</button></a>
{% endif %}
{% if current_user in creator %}
    <a href="{% url 'appsite:list_delete' list.id %}"><button>Deletar lista</button></a>
    <a href="{% url 'appsite:tag_unfollow' list.id %}"><button>Gerenciar tags</button></a>
{% endif %}
{% if current_user in guest or current_user in follower or current_user in admin%}
    <a href="{% url 'appsite:tag_follow' list.id %}">Seguir!</a>
{% endif %}

<a href="{% url 'appsite:detail' current_user.id %}"><button>Voltar</button></a>

<!--External loop: rendering lists' tasks (adds a new line for the "table")-->
<!--Internal loop: rendering tags of each list (expands the "table" horizontally)-->
<section class="lista-de-tasks">
    {% for task in list.task_set.all %}
        <p>{{ task.name}}</p>
        <ul>
            {% for tag in task.tag_set.all %}
                <li>{{ tag.name }} : {{ tag.value}}</li>
            {% endfor %}
        </ul>
        {% if current_user in creator or current_user in admin %}
            <a href="{% url 'appsite:task_update' task.id %}">Editar task</a>
        {% endif %}
    {% endfor %}
</section>

{% endblock content %}
