{% extends 'base.html' %}
{% load static %}

{% block title %} {{ list.name }} {% endblock title %}

{% block content %}

<header class="list-header">
    <div class="list-header-upper">
        <div class="round">
            <span>{{ list.symbol }}</span>
        </div>
        <div class="list-header-info">
            <h1 class="list-title">{{ list.name }}</h1>
            <p>Criado por @{{ creator.first.name }} em {{ list.date }}</p>
        </div>
        <a href="{% url 'appsite:tag_follow' list.id %}">
            <button class="blue-button logout-button">Sair</button>
        </a>
    </div>
    <p>{{ list.description }}</p>
</header>


<article>
    A LISTA VAI AQUI
</article>


<aside class="list-right">

    <article class="list-user-card">        
        {% include 'components/user_card.html' with 
            user_id=current_user.id
            user_picture=current_user.profile.picture
            user_name=current_user.username
            user_job='' %}
    </article>

    <article class="list-social">
        <section class="list-social-creator">
            <h3>Criador</h3>
            <img src="{{ creator.first.profile.picture }}"/>         
        </section>
        <section class="list-social-admins">
            <h3>Administradores</h3>
            {% for user in admin|slice:":4" %}
                <img src="{{ user.profile.picture }}"/>
            {% endfor %}            
        </section>
        <section class="list-social-followers">
            <h3>Seguidores</h3>
            {% for user in follower|slice:":10" %}
                <img src="{{ user.profile.picture }}"/>
            {% endfor %} 
        </section>
    </article>

</aside>





{% if current_user in creator or current_user in admin  %}
    <a href="{% url 'appsite:tag_create' list.id %}"><button>Criar tag</button></a>
    <a href="{% url 'appsite:task_create' list.id %}"><button>Criar task</button></a>
    <a href="{% url 'appsite:list_update' list.id %}"><button>Editar lista</button></a>
    <a href="{% url 'appsite:invite' list.id %}"><button>Convidar</button></a>
    <a href="{% url 'appsite:job_update' list.id %}"><button>Cargos</button></a>
{% endif %}
{% if current_user in follower or current_user in admin %}
    <a href="{% url 'appsite:tag_follow' list.id %}">Seguir!</a>
{% endif %}
{% if current_user not in follower and current_user not in admin and current_user not in creator %}
    <a href="{% url 'appsite:tag_follow' list.id %}"><button>Seguir!</button></a>
{% endif %}

<!--External loop: rendering lists' tasks (adds a new line for the "table")-->
<!--Internal loop: rendering tags of each list (expands the "table" horizontally)-->
<section class="lista-de-tasks">
    {% for task in list.task_set.all %}
        <p>{{ task.name}}</p>
        <ul>
            {% for tag in task.tag_set.all %}
                <li>{{ tag.name }} : {{ tag.value}}</li>
            {% endfor %}
        </ul>
    {% endfor %}
</section>

{% endblock content %}
