{% extends 'base.html' %}

{% block title %} {{ list.name }} {% endblock title %}

{% block content %}

<h2>Nome: {{ list.name }}</h2>
<h2>Símbolo: {{ list.symbol }}</h2>
<h3>Descrição: {{ list.description }}</h3>
<h4>Criador: {{ creator.first.username }}</h4>
<h3><a href="{% url 'appsite:list_update' list.id %}"> Editar lista </a></h1>

{% for f in guest %}

<li>{{ f.username }}</li>
<li>{{ f.email }}</li>
<li>{{ f.picture }}</li>
<br>

{% endfor %}

<a href="{% url 'appsite:invite' list.id %}"><button>Convidar</button></a>

<!--External loop: rendering lists' tasks (adds a new line for the "table")-->
<!--Internal loop: rendering tags of each list (expands the "table" horizontally)-->
<section class="lista-de-tasks">
    {% for task in list.task_set.all %}
        <p>{{ task.name}}</p>
        <ul>
            {% for tag in task.tag_set.all %}
                <li>{{ tag.name }} : {{ tag.value}}</li>
            {% endfor %}
        </ul>
    {% endfor %}
</section>

{% endblock content %}
