{% extends 'base.html' %}

{% block title %} List {% endblock title %}

{% block content %}

<article class="white-box form-box list-untrack-box">
    <header class="menu-box-title seguidor">
        <h1>Deixar Lista</h1>
    </header>
    <div class="list-untrack-text">
        <p><b>CUIDADO!</b> Você está prestes a se desvincular completamente dessa lista.</p>
        <ul>
            <li>Não receberá mais atualizações das tags que segue;</li>
            <li>Não poderá mais acessar a lista para visualizar suas tarefas;</li>
            <li>A lista desaparecerá do seu perfil.</li>
        </ul>
    </div>
    <form method="POST">
        {% csrf_token %}
        <div class="form-box-buttons">
            <a href="{% url 'appsite:list_detail' list_id %}">
                <button class="gradient-button secondary-button" type="button">Voltar</button>
            </a>
            <button class="gradient-button primary-button red-overlay" type="submit">Remover</button>
        </div>
    </form>
</article>


{% endblock content %}