{% extends 'base.html' %}

{% block title %} Menu {% endblock title %}

{% block content %}

<article class="white-box form-box list-menu-box">
    <section class="list-menu-follow">
        <header class="form-box-title criador">
            <h1>Seguir tags</h1>
            <p class="color-body pad-top">Interesse em algo novo? Então siga outras tags!</p>
        </header>
        <div class="form-box-buttons">
            <a href="{% url 'appsite:tag_follow' list_id %}">
                <button class="gradient-button primary-button large-button" type="button">Seguir tags</button>
            </a>
        </div>
    </section>

    <section class="list-menu-unfollow">
        <header class="form-box-title administrador">
            <h1>Deixar tags</h1>
            <p class="color-body pad-top">Muitas tags? Então deixe de acompanhar as que não te interessam mais!</p>
        </header>
        <div class="form-box-buttons">
            <a href="{% url 'appsite:tag_unfollow' list_id %}">
                <button class="gradient-button primary-button pink-overlay large-button" type="button">Deixar tags</button>
            </a>
        </div>
    </section>

    <section class="list-menu-follow">
        <header class="form-box-title seguidor">
            <h1>Deixar lista</h1>
            <p class="color-body pad-top">Nada mais do seu interesse? Talvez então seja um boa hora para partir!</p>
        </header>
        <div class="form-box-buttons">
            <a href="{% url 'appsite:list_untrack' list_id %}">
                <button class="gradient-button primary-button yellow-overlay large-button" type="button">Deixar lista</button>
            </a>
        </div>
    </section>
    <a href="{% url 'appsite:list_detail' list_id %}">
        <button class="gradient-button secondary-button" type="button">Voltar</button>
    </a>
</article>

{% endblock content %}
