{% extends 'base.html' %}
{% load advanced_with %}

{% block content %}

<section class="white-box form-box tag-select-box">    
    <header class="administrador">
        <h1>Tags</h1>
        <p class="color-body pad-text">Escolha agora quais são as tags que você tem interesse.</p>
    </header>
    <form method="POST" action="{% url 'appsite:tag_add' task.id %}">
    {% csrf_token %}
    {% with unique_tag_name=tags.0.name %}
        <h2 class="follow-tag-name">{{ unique_tag_name }}</h2>
        {% for tag in tags %}
            {% if unique_tag_name != tag.name %}
                <h2 class="follow-tag-name">{{ tag.name|update_with }}</h2>
            {% endif %}
            <div class="follow-tag-choices">
                <input type="checkbox" name="t{{ tag.id }}">{{ tag.value }}</input>
            </div>
        {% endfor %}
    {% endwith %}
    <div class="form-box-buttons">
        <a href="{% url 'appsite:list_detail' task.list_id %}">
            <button class="gradient-button secondary-button" type="button">Voltar</button>
        </a>
        <button class="gradient-button primary-button" type="submit">Criar</button>
    </div>     
    </form>       
</section>

{% endblock content %}
