{% extends 'base.html' %}

{% block title %} Unfollow {% endblock title %}

{% block content %}

<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>
<script type='text/javascript'>
    $(document).ready(function () {
    $('input[type=radio]').change(function() {
        $('input[type=radio]:checked').not(this).prop('checked', false);
    });
})
</script>

<h1>Parar de seguir tags</h1>

<form method="POST" action="{% url 'appsite:tag_unfollow' list.id %}">
    {% csrf_token %}

    {% for list_name, list_relations in followed.items %}
        <h2>{{ list_name }}</h2>
        {% for relation in list_relations %}
            <input type="checkbox" name="{{ relation.follow.id }}">{{ relation.tag.name }} | {{ relation.tag.value }}</input>
        {% endfor %}
    {% endfor %}

    <button type="submit">Unfollow</button>
</form>

{% endblock content %}
