{% load static %}

<!DOCTYPE html>

<head>
    <html lang="br"></html>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}" />
    <title>Opus | {% block title %}{% endblock title %}</title>
</head>

<body>
    <div class="page-fade">
        <main>
            {% block content %}
            {% endblock content %}
        </main>
    </div>
</body>

</html>
