<div class="list-card-wrapper">
    <a href="{% url 'appsite:list_detail' card_id %}">
        <section class="list-card">
            <aside class="list-card-left">
                <img src="{{ card_pic }}" alt="list-card-pic" />
                <div class="list-card-symbol-round">
                    <h2>{{ card_symbol }}</h2>
                </div>
            </aside>            
            <div class="list-card-text">
                <h2>{{ card_name }}</h2>
            </div>
        </section>
    </a>
</div>
