{% load static %}

<section class="user-card-wrapper">
    <a href="{% url 'accounts:profile_update' user_id %}">
        <button class="user-card-config-button">
            <img class="user-config-cog" src="https://i.ibb.co/PrLfbbR/cog.png" alt="profile-config-icon" />
        </button>
    </a>
    
    <a class="user-card-link" href="{% url 'accounts:profile_detail' user_id %}">
        <div class="user-card-round-mask">
            <img src="{{ user_picture }}" alt="user-card-pic" />
        </div>
        <div class="user-card-username-wrapper">
            <h2 class="color-light-gray user-card-username">@</h2>
            <h2 class="user-card-username">{{ user_name }}</h2>
        </div>
    </a>

    <h3 class="job-title {{ user_job }}">{% if user_job %} {{ user_job }} {% endif %}</h3>        
    
    <a href="{% url 'logout' %}">
        <button class="blue-button user-card-logout-button">Sair</button>
    </a>
</section>
